
@{
    ViewBag.Title = "ApplicationConfirmation";
}

<h4>Application Confirmation</h4>

<p>
    thank you for applying to become part of the plugpool community !
    Our admin team will get back to you shortly.
</p>

