@model PlugPool.ViewModels.Jobs.CreateViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*@Html.Partial("_Message")*@ 

    <div>
        Name :
        @Html.EditorFor(x => x.name)
        <br /> @Html.ValidationMessageFor(x => x.name)
    </div>

    <br />
    <input type="submit" value="Create" />
   
}



